<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- TODO Proper notification permission handling on android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".widget.WidgetConfigActivityComp"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".accountPicker.AccountPickerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="cz.vitskalicky.lepsirozvrh.defaultAffinity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.LicencesActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="cz.vitskalicky.lepsirozvrh.defaultAffinity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="cz.vitskalicky.lepsirozvrh.defaultAffinity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="cz.vitskalicky.lepsirozvrh.defaultAffinity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:taskAffinity="cz.vitskalicky.lepsirozvrh.defaultAffinity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/> <!-- <activity -->
        <!-- android:name=".widget.SmallWidgetConfigActivity" -->
        <!-- android:theme="@style/AppTheme.WallpaperBackground" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".widget.WideWidgetConfigActivity" -->
        <!-- android:theme="@style/AppTheme.WallpaperBackground" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".activity.LicencesActivity" /> -->
        <!-- <activity android:name=".activity.WelcomeActivity" /> -->
        <!-- <activity android:name=".settings.SettingsActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:host="vitskalicky.github.io" android:scheme="https" android:pathPrefix="/lepsi-rozvrh/motiv-info"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:host="vitskalicky.gitlab.io" android:scheme="https" android:pathPrefix="/lepsi-rozvrh/motiv-info"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="lepsi-rozvrh"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".activity.SchoolsListActivity" /> -->
        <!-- <activity android:name=".activity.LoginActivity" /> -->
        <!-- <activity android:name=".activity.MainActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <receiver
            android:name=".UpdateBroadcastReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.SmallWidgetProvider"
            android:exported="true"
            android:label="@string/small_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_widget_info"/>
        </receiver>
        <receiver
            android:name=".widget.WideWidgetProvider"
            android:exported="true"
            android:label="@string/wide_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wide_widget_info"/>
        </receiver>
    </application>

</manifest>